<div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Tutorial Library</h2>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Welcome to the tutorial library.</h1>
        <h4>Have a question about how to use Pixxly? You've come to the right place!</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% if browser.safari? %>
  <div style="display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box;" class="col-md-12 library-container">
  <% else %>
  <div class="col-md-12 library-container">
  <% end %>
    <% @help_videos.each do |video| %>
        <div class="panel panel-default" style="width: 360px; margin: 6px 5px 6px 5px;">
          <div class="panel-heading">
            <h3 class="panel-title" style="color: white;"><%= video.label %></h3>
          </div>
          <div class="panel-body" style="display: flex; justify-content: center; background-color: white;">
            <%= raw(video.embed_code) %>
          </div>
          <div class="panel-footer" style="height: 60px; color: black;">
            <%= video.descr %>
          </div>
        </div>
    <% end %>
  </div>
  </div>
</div>