<style>
  body { color: black; }
</style>
<div id="raster_to_vector">
  <h2>Convert Raster to Vector</h2>
  <p>Paste in the URL for any jpg, gif, or png to convert it to a raw SVG file.</p>
  <p>Raster Image URLs:
  <ul>
    <li>http://media.virbcdn.com/cdn_images/resize_1600x1600/28/c1ead80b89ca7bfe-Awesome_Surfboards_Logo.png</li>
    <li>http://i.imgur.com/dLvRB.jpg</li>
    <li>https://usatftw.files.wordpress.com/2014/07/ar-pine-bluff.jpg</li>
  </ul></p>
    <input type="text" name="raster_image" id="raster_image" />
  <button class="btn btn-info" type="button" id="trace_and_download">Trace & Download</button><p/>
</div>

<div id="svg_to_jpg">
  <h2>Export SVG to JPG</h2>
  <p>Paste in the URL for any SVG file to convert it to a jpg.</p>
  <p>SVG Image URLs:
  <ul>
    <li>https://openclipart.org/download/232917/Church4.svg</li>
    <li>https://openclipart.org/download/231379/Minstrel2.svg</li>
    <li>https://openclipart.org/download/232757/spring-text.svg</li>
  </ul></p>
  <input type="text" name="svg_image" id="svg_image" />
  <button class="btn btn-info" type="button" id="download_jpg">Download JPG</button><p/>
</div>

<div id="svg_to_psd">
  <h2>Export SVG to Photoshop</h2>
  <p>Paste in the URL for any SVG file to convert it to Photoshop.</p>
  <p>SVG Image URLs:
  <ul>
    <li>https://openclipart.org/download/232917/Church4.svg</li>
    <li>https://openclipart.org/download/231379/Minstrel2.svg</li>
    <li>https://openclipart.org/download/232757/spring-text.svg</li>
  </ul></p>
  <input type="text" name="svg_for_psd" id="svg_for_psd" />
  <button class="btn btn-info" type="button" id="download_psd">Download Photoshop</button><p/>
</div>

<div id="svg_to_gif">
  <h2>Export SVG to GIF</h2>
  <p>Paste in the URL for any SVG file to convert it to GIF.</p>
  <p>SVG Image URLs:
  <ul>
    <li>https://openclipart.org/download/232917/Church4.svg</li>
    <li>https://openclipart.org/download/231379/Minstrel2.svg</li>
    <li>https://openclipart.org/download/232757/spring-text.svg</li>
  </ul></p>
  <input type="text" name="svg_for_psd" id="svg_for_gif" />
  <button class="btn btn-info" type="button" id="download_gif">Download GIF</button><p/>
</div>

<div id="svg_to_png">
  <h2>Export SVG to PNG</h2>
  <p>Paste in the URL for any SVG file to convert it to PNG.</p>
  <p>SVG Image URLs:
  <ul>
    <li>https://openclipart.org/download/232917/Church4.svg</li>
    <li>https://openclipart.org/download/231379/Minstrel2.svg</li>
    <li>https://openclipart.org/download/232757/spring-text.svg</li>
  </ul></p>
  <input type="text" name="svg_for_png" id="svg_for_png" />
  <button class="btn btn-info" type="button" id="download_png">Download PNG</button><p/>
</div>

<div id="svg_to_bmp">
  <h2>Export SVG to BMP</h2>
  <p>Paste in the URL for any SVG file to convert it to BMP.</p>
  <p>SVG Image URLs:
  <ul>
    <li>https://openclipart.org/download/232917/Church4.svg</li>
    <li>https://openclipart.org/download/231379/Minstrel2.svg</li>
    <li>https://openclipart.org/download/232757/spring-text.svg</li>
  </ul></p>
  <input type="text" name="svg_for_bmp" id="svg_for_bmp" />
  <button class="btn btn-info" type="button" id="download_bmp">Download BMP</button><p/>
</div>

<div id="logo_ocr">
  <h2>Character Recognition (OCR)</h2>
  <%= image_tag "image_with_text.png", style: "width: 400px;" %><br/>
  <div id="scanned_text" style="display: none;">Scanning...</div>
  <button class="btn btn-info" type="button" id="ocr_scan">Scan Image</button>
</div>

<div><a href="/export/raster/png/1">Test export</a></div>

<iframe src="logo/editor" frameborder="0" width="900" height="600"></iframe>