<!-- Styles for the registration/sign-in pages. -->
<style>
  .user-row { text-align: center; }
  .panel-body { background-color: black; }
</style>
<!-- End registration/sign-in styles. -->


<div class="container">
  <div class="row fs-vertical-offset-100">
    <div class="col-md-6 col-md-offset-3">
      <div class="fs-panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">
            <%= image_tag "pixxly-logo.png", alt: "Pixxly", class: "fs-img-responsive", width: "120" %>
          </div>
        </div>
        <div class="panel-body" style="background-color: #444444">
          <div class="row">
            <div class="col-md-12">
              <h2><i class="fa fa-cog"></i>&nbsp;Edit Account</h2>

              <div class="panel panel-default ">
                <div class="panel-heading">Account Information for <%= current_user.email %></div>
                  <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="form-group">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, class: "form-control" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="form-group">
                      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placehoder: "Must match the 'Password' field." %>
                    </div>

                    <div class="form-group">
                      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <i class="fa fa-update"></i>&nbsp;<%= f.submit "Update", class: "btn btn-primary", style: "width: 50%;" %>
                    </div>
                  <% end %>
                  </div>
                </div>

              <div class="panel panel-default ">
                <div class="panel-heading">Close My Pixxly Account</div>
                <div class="panel-body">
                  <h3>Cancel my account</h3>
                  <div class="form-group">
                  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning", style: "width: 50%;" %></p>
                  </div>
                  <%= link_to "Back", :back %>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>