@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Kranky');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Alef:400,700');
@import url('https://fonts.googleapis.com/css?family=Six+Caps');
@import url('https://fonts.googleapis.com/css?family=Puritan:400,400italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Cutive&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,200');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700');
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Freckle+Face');
@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

/* Bonus fonts. */
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Allura');
@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Arizonia');
@import url('https://fonts.googleapis.com/css?family=Artifika');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Averia+Libre');
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Baumans');
@import url('https://fonts.googleapis.com/css?family=Bentham');
@import url('https://fonts.googleapis.com/css?family=Bilbo');
@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Cardo');
@import url('https://fonts.googleapis.com/css?family=Chonburi');
@import url('https://fonts.googleapis.com/css?family=Coda');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Damion');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Engagement');
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans');
@import url('https://fonts.googleapis.com/css?family=Felipa');
@import url('https://fonts.googleapis.com/css?family=Gabriela');
@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Iceberg');
@import url('https://fonts.googleapis.com/css?family=Iceland');
@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Itim');
@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow');
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Meddon');
@import url('https://fonts.googleapis.com/css?family=Meie+Script');
@import url('https://fonts.googleapis.com/css?family=Metamorphous');
@import url('https://fonts.googleapis.com/css?family=Miss+Fajardose');
@import url('https://fonts.googleapis.com/css?family=Molle');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Norican');
@import url('https://fonts.googleapis.com/css?family=Nova+Round');
@import url('https://fonts.googleapis.com/css?family=Offside');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Overlock');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
@import url('https://fonts.googleapis.com/css?family=Pirata+One');
@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Port+Lligat+Slab');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Ramaraja');
@import url('https://fonts.googleapis.com/css?family=Redressed');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Rochester');
@import url('https://fonts.googleapis.com/css?family=Romanesco');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('https://fonts.googleapis.com/css?family=Sansita+One');
@import url('https://fonts.googleapis.com/css?family=Sarina');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Squada+One');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Yesteryear');

@font-face {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kranky', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monoton', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Six Caps', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Puritan', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cutive', serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Freckle Face', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cherry Cream Soda', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VT323';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Homemade Apple', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Black Ops One', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mountains of Christmas', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bangers', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sigmar One', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-style: normal;
}

/* Bonus fonts */
@font-face {
font-family: 'Aclonica';
font-style: normal;
}

@font-face {
font-family: 'Aldrich';
font-style: normal;
}

@font-face {
font-family: 'Allura';
font-style: normal;
}

@font-face {
font-family: 'Amiri';
font-style: normal;
}

@font-face {
font-family: 'Arizonia';
font-style: normal;
}

@font-face {
font-family: 'Artifika';
font-style: normal;
}

@font-face {
font-family: 'Audiowide';
font-style: normal;
}

@font-face {
font-family: 'Averia Libre';
font-style: normal;
}

@font-face {
font-family: 'Averia Serif Libre';
font-style: normal;
}

@font-face {
font-family: 'Baloo';
font-style: normal;
}

@font-face {
font-family: 'Baumans';
font-style: normal;
}

@font-face {
font-family: 'Bentham';
font-style: normal;
}

@font-face {
font-family: 'Bilbo';
font-style: normal;
}

@font-face {
font-family: 'Bilbo Swash Caps';
font-style: normal;
}

@font-face {
font-family: 'Bree Serif';
font-style: normal;
}

@font-face {
font-family: 'Cardo';
font-style: normal;
}

@font-face {
font-family: 'Chonburi';
font-style: normal;
}

@font-face {
font-family: 'Coda';
font-style: normal;
}

@font-face {
font-family: 'Concert One';
font-style: normal;
}

@font-face {
font-family: 'Cookie';
font-style: normal;
}

@font-face {
font-family: 'Crimson Text';
font-style: normal;
font-weight: bold;
}

@font-face {
font-family: 'Damion';
font-style: normal;
font-weight: bold;
}

@font-face {
font-family: 'Didact Gothic';
font-style: normal;
font-weight: bold;
}

@font-face {
font-family: 'Eczar';
font-style: normal;
}

@font-face {
font-family: 'Engagement';
font-style: normal;
}

@font-face {
font-family: 'Expletus Sans';
font-style: normal;
}

@font-face {
font-family: 'Felipa';
font-style: normal;
}

@font-face {
font-family: 'Gabriela';
font-style: normal;
}

@font-face {
font-family: 'Graduate';
font-style: normal;
}

@font-face {
font-family: 'Grand Hotel';
font-style: normal;
}

@font-face {
font-family: 'Great Vibes';
font-style: normal;
}

@font-face {
font-family: 'Iceberg';
font-style: normal;
}

@font-face {
font-family: 'Iceland';
font-style: normal;
}

@font-face {
font-family: 'Italianno';
font-style: normal;
}

@font-face {
font-family: 'Itim';
font-style: normal;
}

@font-face {
font-family: 'Jacques Francois Shadow';
font-style: normal;
}

@font-face {
font-family: 'Kanit';
font-style: normal;
}

@font-face {
font-family: 'Laila';
font-style: normal;
}

@font-face {
font-family: 'Lato';
font-style: normal;
}

@font-face {
font-family: 'Libre Baskerville';
font-style: normal;
}

@font-face {
font-family: 'Lobster';
font-style: normal;
}

@font-face {
font-family: 'Marck Script';
font-style: normal;
}

@font-face {
font-family: 'Meddon';
font-style: normal;
}

@font-face {
font-family: 'Meie Script';
font-style: normal;
}

@font-face {
font-family: 'Metamorphous';
font-style: normal;
}

@font-face {
font-family: 'Miss Fajardose';
font-style: normal;
}

@font-face {
font-family: 'Molle';
font-style: normal;
}

@font-face {
font-family: 'Montserrat';
font-style: normal;
}

@font-face {
font-family: 'Muli';
font-style: normal;
}

@font-face {
font-family: 'Niconne';
font-style: normal;
}

@font-face {
font-family: 'Norican';
font-style: normal;
}

@font-face {
font-family: 'Nova Round';
font-style: normal;
}

@font-face {
font-family: 'Offside';
font-style: normal;
}

@font-face {
font-family: 'Oleo Script';
font-style: normal;
}

@font-face {
font-family: 'Oleo Script Swash Caps';
font-style: normal;
}

@font-face {
font-family: 'Open Sans';
font-style: normal;
}

@font-face {
font-family: 'Oswald';
font-style: normal;
}

@font-face {
font-family: 'Overlock';
font-style: normal;
}

@font-face {
font-family: 'Pinyon Script';
font-style: normal;
}

@font-face {
font-family: 'Pirata One';
font-style: normal;
}

@font-face {
font-family: 'Playball';
font-style: normal;
}

@font-face {
font-family: 'Poppins';
font-style: normal;
}

@font-face {
font-family: 'Port Lligat Slab';
font-style: normal;
}

@font-face {
font-family: 'PT Sans';
font-style: normal;
}

@font-face {
font-family: 'PT Serif';
font-style: normal;
}

@font-face {
font-family: 'Racing Sans One';
font-style: normal;
}

@font-face {
font-family: 'Ramaraja';
font-style: normal;
}

@font-face {
font-family: 'Redressed';
font-style: normal;
}

@font-face {
font-family: 'Roboto Slab';
font-style: normal;
}

@font-face {
font-family: 'Rochester';
font-style: normal;
}

@font-face {
font-family: 'Romanesco';
font-style: normal;
}

@font-face {
font-family: 'Rozha One';
font-style: normal;
}

@font-face {
font-family: 'Russo One';
font-style: normal;
}

@font-face {
font-family: 'Sanchez';
font-style: normal;
}

@font-face {
font-family: 'Sansita One';
font-style: normal;
}

@font-face {
font-family: 'Sarina';
font-style: normal;
}

@font-face {
font-family: 'Satisfy';
font-style: normal;
}

@font-face {
font-family: 'Sofia';
font-style: normal;
}

@font-face {
font-family: 'Squada One';
font-style: normal;
}

@font-face {
font-family: 'Supermercado One';
font-style: normal;
}

@font-face {
font-family: 'Tangerine';
font-style: normal;
}

@font-face {
font-family: 'Teko';
font-style: normal;
}

@font-face {
font-family: 'Yellowtail';
font-style: normal;
}

@font-face {
font-family: 'Yesteryear';
font-style: normal;
}