<!DOCTYPE html>
<html>
<head>
  <title>Pixxly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Styles for the registration/sign-in pages. -->
  <style>
    .user-row { text-align: center; }
    .panel-body { background-color: black; }
    .form-control { margin: 5px 0 10px 0; }
  </style>
  <!-- End registration/sign-in styles. -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body onload="initialize();">
<div class="container">
  <div class="row fs-vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="fs-panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">
            <%= image_tag "pixxly-logo.png", alt: "Pixxly" , class: "fs-img-responsive", width: "120" %>
          </div>
        </div>
        <div class="panel-body">
          <h4>Change your password</h4>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="field">
              <%= f.label :password, "New password" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, class: "form-control", autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Change my password", class: "btn btn-primary", style: "width: 100%;" %>
            </div>
          <% end %>

          <div style="text-align: center; margin-top: 25px;">
            <%= link_to "Log in", new_user_session_path %> &bull; <%= link_to "Not a member? Sign up here!", new_user_registration_path %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>