<style>
  .teaser-div { display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box-flex;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;    /* Webkit */
    justify-content: center;
    align-items: center;
     }
</style>

<div style="height: 100vh; margin-top: 10%;">
  <div class="teaser-div">
    <div><%= image_tag "pixxly-logo.png" %></div>
  </div>
  <div class="teaser-div">
    <div><small>COMING SOON</small></div>
  </div>
</div>
