/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require logo
 *= require welcome
 *= require active_admin/editor/wysiwyg
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "fullscreen";
@import "slate.bootstrap";
//@import "bootstrap.colorpickersliders.min";
//@import "pixxly-bootstrap.min";
@import "google-fonts";
@import "jquery.svg";

body,.footer { background-color: #b4b4b4; }
// body,.footer { background-color: #cccccc; }

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    text-align: center;
// background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 0 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.btn-container { display: flex; justify-content: center; }

// Symbol chooser styles.
.logo-symbol-border-div:hover { background-color: #DDDDDD; }
.logo-symbol-border-div { border: 1px solid darkgray; width: 120px; height: 120px; padding: 10px; margin: 20px; background-color: white; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); display: flex; align-items: center; justify-content: center; }
.logo-symbol-border-div.active { background-color: #BBBBBB; }

// Library styles.
.list-item-text { padding-left: 10px; }
.library-container { display: flex; justify-content: center; flex-wrap: wrap; }

h1, h2, h3 { color: white; }

.edit-svg, .save-svg { margin-bottom: 15px; }

// iframe styles
// See
// http://stackoverflow.com/questions/2730046/javascript-problem-with-iframe-thats-hidden-before-loaded
// It's important for initial iframe loading
// After loading the class can be removed from element
.hidden-iframe-on-crutch {
  display: block !important;
  visibility: none !important;
  position: absolute !important;
  top: -999999px !important;
}

.small-notification {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 6px 14px;
  border-radius: 0px 0px 0px 6px;
  background: #666;
  color: #E4E4E4;
  display: none;
  font-size: 0.8em;
}

/* Modified page titles etc. */
.page-title { color: #35393D; }

.activate-layer-button {
  cursor: pointer;
  padding: 2px 2px 2px 5px;
  i.fa {
    cursor: pointer;
  }
  padding: 5px;
  margin: 2px;
  background-color: black;
}

.active-layer-button:hover {
  background-color: #555;
}