.user_panel{
  height: 450px;
  overflow: hidden;
  margin: auto;
}

svg {
  height: 100%;
  vertical-align: middle;
}

//.active_oca{
//  border: 5px solid #ccc;
//}

#images{
  padding: 20px;

  p{
    width: 100%;
  }

  .openclipartdiv{

    .openclipartimg{
      max-width: 75px;
      max-height: 75px;
    }
  }

  .logo-symbol-border-div:hover { background-color: #DDDDDD; }

  .logo-symbol-border-div {
    display: inline-block;
    border: 1px solid darkgray;
    width: 18%;
    padding: 10px;
    margin: 5px;
    line-height: 80px;
    border-radius: 20px;
    text-align: center;
    background-color: white; }

  .logo-symbol-border-div.active { background-color: #BBBBBB; }
  }

  .input-group{
    margin-bottom: 30px;
  }


.layout_palette_symbol{

  img{
    max-height: 400px;
  }
}
button.layer-manager {
  margin: 0;
  color: #CCC !important;
  margin-bottom: 3px;
}

.list-group-item {
  i {
    margin-right: 10px!important;
    width: 15px!important;
  }

  .item-remove {
    position: absolute;
    right: 0;
  }

  .item-up {
    position: absolute;
    right: 15px;
  }
  .item-down {
    position: absolute;
    right: 30px;
  }
}

#layer_manager, #font_manager {
  overflow-y: scroll;
  height: 690px;
}

.font-container {
  border-radius: 2px;
  padding: 3px;
  margin: 5px 0 5px 0;
  background-color: black;
}

.font-container:hover {
  background-color: #555;
}

.font-container.active {
  background-color: #333;
}

#layer_manager>button {
  padding: 2px 2px 2px 5px;
}

/* #layer_manager, #font_manager {
  display: inline-block;
  position: absolute;
  padding: 0 12px;
  background: white;
  margin: 0 20px;
  max-height: 47%;
  overflow-y: scroll;
} */

#layer2{
  transform: matrix(0.99904970097955,0,0,1,0.989808801320278,-1);
}

#OpenClipArt_lib {
  .images-title {
    padding-left: 20px;
  }
  .images-pagination {
    text-align: center;
  }
  #images {
    height: 360px;
    overflow-y: auto;
  }
}

#cloneLogoSourceModal button.convert-choice-active {
  border: red;
  border-width: 2px;
  border-style: solid;
}

// Color palette styles.
.palette-option { background-color: #444444; padding: 5px; border-radius: 3px; width: 175px; height: 80px; margin-bottom: 10px; }
.palette-option.active { background-color: #222222; }
.palette-color { width: 20px; height: 20px; margin: 1px; border: 1px solid white; text-align: center; color: white; text-shadow: 0 0 2px #000000; }

// Palette color chooser.
.symbol-colors { background-color: #222222; padding: 5px; border-radius: 3px; width: 375px; margin-bottom: 25px; padding-bottom: 25px; display: flex; justify-content: center; }
.symbol-colors-table { background-color: #222222; margin-top: 20px; }
.palette-color.current { cursor: pointer; }
.palette-color.current.active { border-radius: 5px; }

// Layout styles.
.layout-option { background-color: #444444; padding: 5px; border-radius: 3px; width: 175px; height: 190px; margin-bottom: 10px; }
.layout-option.active { background-color: #222222; }

// Notifications at top right of page.
.notify-top-right {
  position: fixed;
  top: 2em;
  right: 2em;
}

// Logo creation navigation - editor page.
#editor_new_logo_nav { margin-bottom: 10px; }
.tab-completed { color: darkgray; }

// Background color swatches - show them clickable.
.bg-color-change:hover { cursor: hand; }
.bg-color-change, .fg-color-change { width: 30px; height: 30px; margin: 0 2px 5px 0; border: 1px solid darkgray; }
.bg-color-change.active, .fg-color-change.active { border: 1px solid firebrick; }
.bg-container, .fg-container { text-align: center; }