<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#fontManager" aria-expanded="true" aria-controls="fontManager">
          Font Manager
        </a>
      </h4>
    </div>
    <div id="fontManager" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="fontManager">
      <div class="panel-body" style="height: 690px; overflow-y: scroll;">
        <% @fonts.each do |font| %>
            <div class="font-container" data-font-face="<%= font.name %>">
              <p style="font-family: '<%= font.name %>'; color: white; margin: 2px; text-align: center; font-size: 12pt;" class="logo-font"><%= font.name %></p>
            </div>
        <% end %>
        <%- if current_user.bonus? -%>
          <% @bonus_fonts.each do |font| %>
            <div class="font-container" data-font-face="<%= font.name %>">
              <p style="font-family: '<%= font.name %>'; color: white; margin: 2px; text-align: center; font-size: 12pt;" class="logo-font"><%= font.name %></p>
            </div>
          <% end %>
        <%- end -%>
      </div>
    </div>
  </div>

  <%# unless browser.platform.windows? && (browser.chrome? || browser.opera? || browser.edge?) %>
  <div class="panel panel-default" id="layer_manager_panel">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#layoutManager" aria-expanded="false" aria-controls="layoutManager">
          Layers Manager
        </a>
      </h4>
    </div>
    <div id="layoutManager" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div id='layer_manager'>
          <div class="list-group" style="min-width: 180px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# end %>
</div>

<%- #JS hack to determine if this is a touchscreen or not. -%>
<script type="text/javascript" charset="utf-8">
  $(function(){
    // Touch Device Detection
    var isTouchDevice = 'ontouchstart' in document.documentElement;
    if( isTouchDevice ) {
      $("#layer_manager_panel").hide();
    }
  });
</script>