<% if browser.ie? #|| browser.edge? %>
<% my_browser = browser.ie? ? "Internet Explorer" : "Microsoft Edge" %>
<div class="panel panel-warning" id="ie_warning_panel">
  <div class="panel-body" style="background-color: #991100;">
    <h2>Looks like you're using <%= my_browser %>.</h2>
    <p>We do our best to support every modern browser. However, performing complex image manipulation to build great logos on the fly is something that <%= my_browser %> just can't handle very well. We suggest you switch to a browser that can handle complex tasks. Here are our suggestions:</p>
    <div class="container" style="margin: 25px 0 25px 0">
      <div class="row">
        <!--<div class="col-md-offset-1 col-md-3" style="text-align: center;">-->
          <!--<h3>Microsoft Edge</h1>-->
            <!--<%= image_tag "ms_edge.png", style: "width: 80px; height: 80px;" %>-->
            <!--<h4>Microsoft's modern browser for Windows 10</h4>-->
        <!--</div>-->
        <div class="col-md-3" style="text-align: center;">
          <h3>Google Chrome</h3>
          <%= image_tag "chrome.png", style: "width: 80px; height: 80px;" %>
          <h4>The most popular browser in the world.</h4>
          <a href="https://www.google.com/chrome/" target="_BLANK" style="text-decoration: none;">Get it here.</a>
        </div>
        <div class="col-md-3" style="text-align: center;">
          <h3>Firefox</h3>
          <%= image_tag "Firefox.png", style: "width: 80px; height: 80px;" %>
          <h4>Most trusted internet company for privacy.</h4>
          <a href="https://www.mozilla.org/en-US/firefox/products/" target="_BLANK" style="text-decoration: none;">Get it here.</a>
        </div>
        <div class="col-md-3" style="text-align: center;">
          <h3>Opera</h3>
          <%= image_tag "opera.png", style: "width: 80px; height: 80px;" %>
          <h4>Opera browser is everything you need to do more on the web.</h4>
          <a href="http://www.opera.com/computer" target="_BLANK" style="text-decoration: none;">Get it here.</a>
        </div>
      </div>
    </div>
    <p>See a comparison of browser capabilities <a href="http://caniuse.com/#compare=ie+11,edge+14,firefox+49,chrome+54,safari+9.1,opera+39" target="_BLANK">here</a>.</p>
    <div><a href="#" class="close pull-right" data-target="#ie_warning_panel" data-dismiss="alert">X Close</a></div>
  </div>
</div>
<% end %>