<div class="row" style="width: 100%; text-align: center;">
  <button class="btn btn-primary logo-symbol-selected-btn" disabled>Continue >></button>
</div>
<div class="row">
  <% pages = symbols_set.count % 28 ? symbols_set.count/28 + 1 : symbols_set.count/28 %>
  <% logo = symbols_set
     offset = 0 %>
  <% for p in 1..pages %>
      <% if p === 1 %>
          <% if browser.safari? %>
          <div style="display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box;" class="library-container" data-page="<%= p %>">
          <% else %>
          <div class="library-container" data-page="<%= p %>">
          <% end %>
            <% offset > 0 || p < pages ? offset += 1 : offset # if this isn't the first iteration, adjust offset #. %>
            <% for idx in offset..offset+27 %>
                <% unless logo[idx].blank? # offset bumps the index, so we will come to a place where it is nil. %>
                    <a href="#" class="logo-symbol" data-id="<%= logo[idx].logo_id %>"><div class="logo-symbol-border-div">
                      <%= image_tag "previews/prev_#{ logo[idx].logo_id }.png", style: "max-width: 100px; height: 100px; display: block; margin: auto;" %></div></a>
                <% end %>
                <% offset = idx %>
            <% end %>
          </div>
      <% end %>
  <% end %>
  <% offset = 0 %>
  <% for p in 1..pages %>
      <script type="text/template" class="logo-templates" id="page_<%= p %>">
        <% if browser.safari? %>
        <div style="display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box;" class="library-container" data-page="<%= p %>">
        <% else %>
        <div class="library-container" data-page="<%= p %>">
        <% end %>
          <% offset > 0 || p < pages ? offset += 1 : offset # if this isn't the first iteration, adjust offset #. %>
          <% for idx in offset..offset+27 %>
              <% unless logo[idx].blank? # offset bumps the index, so we will come to a place where it is nil. %>
                  <a href="#" class="logo-symbol" data-id="<%= logo[idx].logo_id %>"><div class="logo-symbol-border-div">
                    <%= image_tag "previews/prev_#{ logo[idx].logo_id }.png", style: "max-height: 100px; max-width: 100px; height: auto; width: auto; display: block; margin: auto;" %></div></a>
              <% end %>
              <% offset = idx %>
          <% end %>
        </div>
      </script>
  <% end %>
</div>
<div style="text-align: center;"><button class="btn btn-primary logo-symbol-selected-btn" disabled>Continue >></button></div>
<% unless pages.to_i <= 1 %>
<div style="text-align: center;" class="logo-pager"></div>
<script type="text/javascript">
  $('.logo-pager').twbsPagination({
  totalPages: <%= pages - 1 %>,
  visiblePages: 10,
  onPageClick: function (event, page) {
    $('.library-container').replaceWith( $("#page_" + page).html() );
  }
  });
</script>
<% end %>
