<div class="row">
  <% if @bonus.count.to_i > 0 %>
      <!--<div class="col-md-3">-->

      <!--</div>-->
      <div class="col-md-12">
        <h2 class="page-title">Bonus Logos</h2>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h1>Welcome to the <strong>BONUS</strong> logo library.</h1>
              <h4>Congratulations! You have received access to the library of additional bonus logos, premade and ready
                for you to import into Pixxly.</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <% if browser.safari? %>
            <div style="display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box;" class="col-md-12 library-container">
        <% else %>
            <div class="col-md-12 library-container">
        <% end %>
        <% @bonus.each do |logo| %>
            <div class="panel panel-default" id="logo_panel_<%= logo.id %>" style="width: 360px; margin: 6px 6px 6px 6px;">
              <% ############################################ %>
              <% ## Edit the SVG to match our requirements ## %>
              <% ############################################ %>
              <% svg_xml = Nokogiri::XML.parse(logo.svg.to_s) %>
              <% svg = logo.svg.to_s %>
              <% unless svg_xml.at_xpath("//xmlns:svg/@viewBox") %>
                  <% svg.gsub!('xmlns="http://www.w3.org/2000/svg"', 'xmlns="http://www.w3.org/2000/svg" viewBox="0 0 410 345"') %>
              <% end %>

              <% ############################################ %>
              <% ## End editing SVG.                       ## %>
              <% ############################################ %>
              <div class="panel-body" style="display: flex; justify-content: center; background-color: white;" data-id="<%= logo.id %>">
                <%= raw(svg) %>
              </div>
              <div class="panel-footer" style="height: 60px;">
                <div class="pull-right" role="group">
                  <button type="button" class="btn btn-default save-bonus-svg" data-id="<%= logo.id %>">
                    <i class="fa fa-check"></i>&nbsp;Add To My Logos
                  </button>
                  <!--<a class="btn btn-default" href="/logo/library/editor/<%#= logo.id %>">-->
                  <!--<i class="fa fa-check"></i>-->
                  <!--Edit-->
                  <!--</a>-->
                </div>
              </div>
            </div>
            <!--</a>-->
        <% end %>
  <% end %>
  </div>
  </div>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <%= paginate @bonus, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div>
  </div>