  <!DOCTYPE html>
  <html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <link rel="icon" type="image/png" href="/logo/jgraduate/editor/images/logo.png"/>
  <link rel="stylesheet" href="/logo/jgraduate/editor/css/fonts.css" type="text/css"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>


  <script type="text/javascript" src="/logo/jgraduate/editor/lib/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.0/screenfull.min.js"></script>
  <script src="/logo/jgraduate/editor/lib/canvg/canvg.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/logo/jgraduate/editor/css/method-draw.compiled.css" type="text/css"/>
  <%= stylesheet_link_tag    'fullscreen', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/logo/jgraduate/editor/css/google-fonts.css', protocol: "https" %>
<!--   <link rel="stylesheet" href="/logo/jgraduate/editor/css/google-fonts.css" type="text/css" /> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

  <!--{if svg_edit_release}-->
    <!--<script type="text/javascript" src="/logo/jgraduate/editor/browser.js"></script>-->
    <!--<script type="text/javascript" src="/logo/jgraduate/editor/units.js"></script>-->
    <!--<script type="text/javascript" src="/logo/jgraduate/editor/svgcanvas.js"></script>-->
    <!--<script type="text/javascript" src="/logo/jgraduate/editor/method-draw.js"></script>-->
    <script type="text/javascript" src="/logo/jgraduate/editor/method-draw.compiled.js"></script>
  <!--{else}>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/pathseg.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/touch.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/js-hotkeys/jquery.hotkeys.min.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/jquerybbq/jquery.bbq.min.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/icons/jquery.svgicons.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/jgraduate/jquery.jgraduate.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/contextmenu/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/browser.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/svgtransformlist.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/math.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/units.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/svgutils.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/sanitize.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/history.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/select.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/draw.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/path.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/dialog.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/svgcanvas.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/src/method-draw.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/jquery-draginput.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/contextmenu.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/jgraduate/jpicker.min.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/mousewheel.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/extensions/ext-eyedropper.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/extensions/ext-shapes.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/extensions/ext-grid.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/requestanimationframe.js"></script>
    <script type="text/javascript" src="/logo/jgraduate/editor/lib/taphold.js"></script>
  <!{endif}-->

  <title>Pixxly Editor</title>

    <script>
      function rgbToHex(r, g, b) {
        if (r > 255 || g > 255 || b > 255)
          throw "Invalid color component";
        return ((r << 16) | (g << 8) | b).toString(16);
      }

      // When a font is changed in the editor, bubble that event up to the parent and change it in the font manager.
      $(function(){
        // When we open the editor, reset the autosave.
        $("#font_family_dropdown").change(function(){
          window.top.setFontManager( $("#font_family_dropdown").val() );
        });

        // Edge case - when values are NaN, app is trapped in an endless alert loop.
        $(document).on("blur", "input#canvas_width", function(){
          if($.isNumeric( $("input#canvas_width").val() ) === false ){
            $("input#canvas_width").val("400");
          }
        });

        $(document).on("blur", "input#canvas_height", function(){
          if($.isNumeric( $("input#canvas_height").val() ) === false ){
            $("input#canvas_height").val("400");
          }
        });

        $(document).on("blur", "input#stroke_width", function(){
          if($.isNumeric( $("input#stroke_width").val() ) === false || $("input#stroke_width").val() < 0 || $("input#stroke_width").val() > 99 ){
            $("input#stroke_width").val("1.0");
          }
        });

        $(document).on("blur", "input#group_opacity", function(){
          if($.isNumeric( $("input#group_opacity").val() ) === false || $("input#group_opacity").val() < 0 || $("input#group_opacity").val() > 100 ){
            $("input#group_opacity").val("100");
          }
        });

        $(document).on("blur", "input#blur", function(){
          if($.isNumeric( $("input#blur").val() ) === false || $("input#blur").val() < 0 || $("input#blur").val() > 10 ){
            $("input#blur").val("100");
          }
        });

        $(document).on("blur", "input#angle", function(){
          if($.isNumeric( $("input#angle").val() ) === false || $("input#angle").val() < -180 || $("input#angle").val() > 180 ){
            $("input#angle").val("0");
          }
        });

        $(document).on("blur", "input#font_size", function(){
          if($.isNumeric( $("input#font_size").val() ) === false || $("input#font_size").val() < 1 || $("input#font_size").val() > 250 ){
            $("input#font_size").val("32");
          }
        });

        $(document).on("blur", "input#rect_width", function(){
          if($.isNumeric( $("input#rect_width").val() ) === false ){
            $("input#rect_width").val("100");
          }
        });

        $(document).on("blur", "input#rect_height", function(){
          if($.isNumeric( $("input#rect_height").val() ) === false ){
            $("input#rect_height").val("100");
          }
        });

        $(document).on("blur", "input#rect_x", function(){
          if($.isNumeric( $("input#rect_x").val() ) === false ){
            $("input#rect_x").val("100");
          }
        });

        $(document).on("blur", "input#rect_y", function(){
          if($.isNumeric( $("input#rect_y").val() ) === false ){
            $("input#rect_y").val("100");
          }
        });

        // Handle fullscreen toggling.
        $(document).on("click", "#full", function() {
          if ( screenfull.enabled ) {
            screenfull.toggle( $("#logo_editor")[0] );
          }
        });


//        // Generate screenshot to use with the color dropper.
//        $("svg").on("click", "#svgcontent", function(e) {
//          // Get the current SVG and plug it into the canvas.
//          var svg = svgCanvas.getSvgString();
//
//          // Get the canvas offset.
//          var offset = $(this).offset();
//          var x = parseInt( parseInt(e.clientX) - parseInt(offset.left));
//          var y = parseInt( parseInt(e.clientY) - parseInt(offset.top));
//          var canvas_data;
//
//
//          $.when(function(){
//            // Populate the canvas.
//            canvg("color_dropper_canvas", svg);
//          }).then(function(){
//            // Get the canvas.
//            canvas_data = document.getElementById("color_dropper_canvas").getContext("2d").getImageData(x, y, 1, 1).data;
//          });
//
//          var hex = "#" + ("000000" + rgbToHex(canvas_data[0], canvas_data[1], canvas_data[2])).slice(-6);
//debugger;
//          console.log("X: " + x);
//          console.log("Y: " + y);
//          console.log("Hex: " + hex);
//        });


        // Handle updating of edited logo.
        // Duplicated from logo.js:818-844
        $(document).on("click", ".edit-svg", function(e){
          // stop redirect after event fires.
          e.stopPropagation();
          e.preventDefault();

          var svg = svgCanvas.getSvgString();
          var font = [];
          $('#logo_editor').contents().find('[font-family]').each(function(elem, index){font.push($(this).attr('font-family'))})
          var url = window.parent.location.href + '';
          url = url.split("/");
          var user_logo_id = url[url.length - 1];

          var payload = { svg: svg, user_logo_id: user_logo_id, font_family: font };

          $.ajax({
            url: "/logo/update",
            type: "POST",
            data: payload,
            dataType: "json",
            async: true,
            success: function(data){
              var notice = '<div class="alert alert-success notify-top-right" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin: 0 0 0 10px;"><span aria-hidden="true">&times;</span></button><i class="fa fa-check-square-o"></i>&nbsp;Logo saved.</div>';

              if (screenfull.isFullscreen) {
                // In fullscreen mode, append the notification in the iframe.
                $("body").append(notice);
              } else {
                // We are not in fullscreen, so push the notification to the parent.
                $("body", window.parent.document).append(notice);
              }
            },
            error: function(data){
              console.log(data);
              alert("There was a problem saving your logo!");
            }
          });
        });

        /***************************************************/
        // Autosaving code.
        /***************************************************/
        var alreadyCreated, autoSavingInterval, getLogoData, lastSavedSvg, logoSaveUrl, logoUpdateUrl, onLogoCreate, pushChangesToServer, saveSvg, shared, showLogoSavedMessage, showProblemOnSaving, showSmallNotification, timeout;
        logoUpdateUrl = '/logo/update';
        logoSaveUrl = '/logo/save';
        autoSavingInterval = null;
        timeout = 10000;
        lastSavedSvg = null;
        shared = false;
        alreadyCreated = false;

        saveSvg = function() {
          if (parent.Pixxly.Logos.current.initial_save === true) {
            var data;
            data = getLogoData();

            if (!data) {
              return;
            }

            if (lastSavedSvg && data.svg === lastSavedSvg) {
              return;
            }

            if (data.logo_id != null || data.user_logo_id != null) {
              if (data.user_logo_id) {
                return pushChangesToServer(logoUpdateUrl, data, showLogoSavedMessage);
              } else {
                return pushChangesToServer(logoSaveUrl, data, onLogoCreate);
              }
            }
          }
        };
        
        pushChangesToServer = function(url, payload, onSuccess) {
          return $.ajax({
            url: url,
            type: 'POST',
            data: payload,
            async: true,
            dataType: 'json',
            error: showProblemOnSaving,
            success: function(data) {
              lastSavedSvg = payload.svg;
              return onSuccess(data);
            }
          });
        };
        onLogoCreate = function(data) {
          var $saveBtn;
          if (data.user_logo_id) {
            $( parent.document.getElementById("logo_editor")).data('user-logo-id', data.user_logo_id);
            //$('#logo_editor').data('user-logo-id', data.user_logo_id);
            if (history.state) {
              history.state.url = parent.window.location.origin + "/edit/" + data.user_logo_id;
              // history.state.url = window.location.origin + "/edit/" + data.user_logo_id;
            }
            history.pushState(history.state, '', "/edit/" + data.user_logo_id);
            $saveBtn = $('.edit-svg,.shared-edit-svg,.save-svg', $(parent.document) );
            // $saveBtn = $('.edit-svg,.shared-edit-svg,.save-svg');
            $saveBtn.unbind('click');
            $saveBtn.on('click', function() {
              var logoData;
              logoData = getLogoData();
              return pushChangesToServer(logoUpdateUrl, logoData);
            });
            showLogoSavedMessage();
            alreadyCreated = true;
            return shared = false;
          } else {
            return showProblemOnSaving();
          }
        };
        showLogoSavedMessage = function() {
          return showSmallNotification('Logo has been saved');
        };
        showProblemOnSaving = function() {
          return showSmallNotification('There was a problem saving your logo!');
        };
        getLogoData = function() {
          var data, font, logo_id, svg, svgEdit, user_logo_id;
          svg = svgCanvas.getSvgString();
          font = [];
          $('#svgcanvas').find('[font-family]').each(function(elem, index) {
            font.push($(this).attr('font-family'));
          });

          if (!alreadyCreated) {
            if (!shared) {
              shared = $( parent.document.getElementById("logo_editor")).data('shared');
            }
            // shared || shared = $( parent.document.getElementById("logo_editor")).data('shared');
            // shared || (shared = $('#logo_editor').data('shared'));
          }
          if (!shared) {
            if ( $(parent.document.getElementById("current_logo_id") ).length === 1) {
              // if ($("current_logo_id").length === 1) {
              logo_id = $("#current_logo_id").val();
            }
            user_logo_id = $( parent.document.getElementById("logo_editor")).data('user-logo-id');
            // user_logo_id = $('#logo_editor').data('user-logo-id');
          }

          data = {
            svg: svg,
            logo_id: logo_id,
            user_logo_id: user_logo_id,
            font_family: font
          };

          return data;
        };
        showSmallNotification = function(message) {
          var element;
          element = "<div class='small-notification'>" + message + "</div>";
          $( parent.document ).append(element);
          // $('body').append(element);
          $(parent.document.getElementsByClassName(".small-notification")).fadeIn('fast');
          // $('.small-notification').fadeIn('fast');
          setTimeout(function() {
            $(parent.document.getElementsByClassName(".small-notification")).fadeOut(function() {
              // return $('.small-notification').fadeOut(function() {
              $(parent.document.getElementsByClassName(".small-notification")).remove();
              // return $('.small-notification').remove();
            });
          }, 2000);
        };

        setInterval(function(){
          // Save the current SVG.
          if ( $(".tool_button_current").attr("id") != "tool_path" && $("#path_node_panel").css("display") != "block" ) {
            saveSvg();
          }
        }, 10000);
        /***************************************************/
        /***************************************************/
      });
    </script>
    <style>
      button#save-button, button#full.btn { border-radius: 3px; background-color: #3F3F3C; }
    </style>
</head>
<body>
<div id="svg_editor">

  <div id="rulers">
    <div id="ruler_corner"></div>
    <div id="ruler_x">
      <div id="ruler_x_cursor"></div>
      <div>
        <canvas height="15"></canvas>
      </div>
    </div>
    <div id="ruler_y">
      <div id="ruler_y_cursor"></div>
      <div>
        <canvas width="15"></canvas>
      </div>
    </div>
  </div>

  <div id="workarea">
    <div id="svgcanvas" style="position:relative">

    </div>
  </div>

  <div id="menu_bar">
    <!-- <a class="menu">
      <div class="menu_title" id="logo"></div>
      <div class="menu_list">
        <div id="tool_about" class="menu_item">About this Editor...</div>
        <div class="separator"></div>
        <div id="tool_about" class="menu_item">Keyboard Shortcuts...</div>
      </div>
    </a> -->

    <div class="menu">
      <div class="menu_title">File</div>
      <div class="menu_list" id="file_menu">
        <div id="tool_clear" class="menu_item">New Document</div>
        <!--<div id="tool_open" class="menu_item" style="display: none;"><div id="fileinputs"></div>Open SVG...</div>-->
        <div id="tool_import" class="menu_item" style="display: none;"><div id="fileinputs_import"></div>Import Image...</div>
        <!--<div id="tool_save" class="menu_item save-svg">Save Image... <span class="shortcut">⌘S</span></div>-->
        <!--<div id="tool_export" class="menu_item">Export as PNG</div>-->
      </div>
    </div>

    <div class="menu">
      <div class="menu_title">Edit</div>
      <div class="menu_list" id="edit_menu">
        <div class="menu_item" id="tool_undo">Undo <span class="shortcut">⌘Z</span></div>
        <div class="menu_item" id="tool_redo">Redo <span class="shortcut">⌘Y</span></div>
        <div class="separator"></div>
        <div class="menu_item action_selected disabled" id="tool_cut">Cut <span class="shortcut">⌘X</span></div>
        <div class="menu_item action_selected disabled" id="tool_copy">Copy <span class="shortcut">⌘C</span></div>
        <div class="menu_item action_selected disabled" id="tool_paste">Paste <span class="shortcut">⌘V</span></div>
        <div class="menu_item action_selected disabled" id="tool_clone">Duplicate <span class="shortcut">⌘D</span></div>
        <div class="menu_item action_selected disabled" id="tool_delete">Delete <span>⌫</span></div>
      </div>
    </div>

    <div class="menu">
      <div class="menu_title">Object</div>
      <div class="menu_list"  id="object_menu">
        <div class="menu_item action_selected disabled" id="tool_move_top">Bring to Front <span class="shortcut">⌘⇧↑</span></div>
        <div class="menu_item action_selected disabled" id="tool_move_up">Bring Forward <span class="shortcut">⌘↑</span></div>
        <div class="menu_item action_selected disabled" id="tool_move_down">Send Backward <span class="shortcut">⌘↓</span></div>
        <div class="menu_item action_selected disabled" id="tool_move_bottom">Send to Back <span class="shortcut">⌘⇧↓</span></div>

        <div class="separator"></div>
        <div class="menu_item action_multi_selected disabled" id="tool_group">Group Elements <span class="shortcut">⌘G</span></div>
        <div class="menu_item action_group_selected disabled" id="tool_ungroup">Ungroup Elements <span class="shortcut">⌘⇧G</span></div>

        <!--<div class="separator"></div>-->
        <!--<div class="menu_item action_path_convert_selected disabled" id="tool_topath">Convert to Path</div>-->
        <!--<div class="menu_item action_path_selected disabled" id="tool_reorient">Reorient path</div>-->
      </div>
    </div>

    <!--<div class="menu">-->
      <!--<div class="menu_title">View</div>-->
      <!--<div class="menu_list" id="view_menu">-->
        <!--<div class="menu_item push_button_pressed" id="tool_rulers">View Rulers</div>-->
        <!--<div class="menu_item" id="tool_wireframe">View Wireframe</div>-->
        <!--<div class="menu_item" id="tool_snap">Snap to Grid</div>-->
        <!--<div class="separator"></div>-->
        <!--<div class="menu_item" id="tool_source">Source... <span class="shortcut">⌘U</span></div>-->
      <!--</div>-->
    <!--</div>-->



  </div>

  <div id="tools_top" class="tools_panel">

    <div id="canvas_panel" class="context_panel">

      <h4 class="clearfix">Canvas</h4>

      <label data-title="Change canvas width">
        <input size="3" id="canvas_width" type="text" pattern="[0-9]*" />
        <span class="icon_label">Width</span>
      </label>
      <label data-title="Change canvas height">
        <input id="canvas_height" size="3" type="text" pattern="[0-9]*" />
        <span class="icon_label">Height</span>
      </label>


      <label data-title="Change canvas color" class="draginput">
        <span>Color</span>
        <div id="color_canvas_tools">
          <div class="color_tool active" id="tool_canvas">
            <div class="color_block">
              <div id="canvas_bg"></div>
              <div id="canvas_color"></div>
            </div>
          </div>
        </div>
      </label>

      <div class="draginput">
        <span>Sizes</span>
        <select id="resolution">
          <option id="selectedPredefined" selected="selected">Custom</option>
          <option>640x480</option>
          <option>800x600</option>
          <option>1024x768</option>
          <option>1280x960</option>
          <option>1600x1200</option>
          <option id="fitToContent" value="content">Fit to Content</option>
        </select>
        <div class="caret"></div>
        <label id="resolution_label">Custom</label>
      </div>

    </div>

    <div id="rect_panel" class="context_panel">
      <h4 class="clearfix">Rectangle</h4>
      <label>
        <input id="rect_x" class="attr_changer" data-title="Change X coordinate" size="3" data-attr="x" pattern="[0-9]*" />
        <span>X</span>
      </label>
      <label>
        <input id="rect_y" class="attr_changer" data-title="Change Y coordinate" size="3" data-attr="y" pattern="[0-9]*" />
        <span>Y</span>
      </label>
      <label id="rect_width_tool attr_changer" data-title="Change rectangle width">
        <input id="rect_width" class="attr_changer" size="3" data-attr="width" type="text" pattern="[0-9]*" />
        <span class="icon_label">Width</span>
      </label>
      <label id="rect_height_tool" data-title="Change rectangle height">
        <input id="rect_height" class="attr_changer" size="3" data-attr="height" type="text" pattern="[0-9]*" />
        <span class="icon_label">Height</span>
      </label>
    </div>

    <div id="path_panel" class="context_panel clearfix">
      <h4 class="clearfix">Path</h4>
      <label>
        <input id="path_x" class="attr_changer" data-title="Change ellipse's cx coordinate" size="3" data-attr="x" pattern="[0-9]*" />
        <span>X</span>
      </label>
      <label>
        <input id="path_y" class="attr_changer" data-title="Change ellipse's cy coordinate" size="3" data-attr="y" pattern="[0-9]*" />
        <span>Y</span>
      </label>
    </div>

    <div id="image_panel" class="context_panel clearfix">
      <h4>Image</h4>
      <label>
        <input id="image_x" class="attr_changer" data-title="Change X coordinate" size="3" data-attr="x"  pattern="[0-9]*"/>
        <span>X</span>
      </label>
      <label>
        <input id="image_y" class="attr_changer" data-title="Change Y coordinate" size="3" data-attr="y"  pattern="[0-9]*"/>
        <span>Y</span>
      </label>
      <label>
        <input id="image_width" class="attr_changer" data-title="Change image width" size="3" data-attr="width" pattern="[0-9]*" />
        <span class="icon_label">Width</span>
      </label>
      <label>
        <input id="image_height" class="attr_changer" data-title="Change image height" size="3" data-attr="height" pattern="[0-9]*" />
        <span class="icon_label">Height</span>
      </label>
    </div>

    <div id="circle_panel" class="context_panel">
      <h4>Circle</h4>
      <label id="tool_circle_cx">
        <span>Center X</span>
        <input id="circle_cx" class="attr_changer" title="Change circle's cx coordinate" size="3" data-attr="cx"/>
      </label>
      <label id="tool_circle_cy">
        <span>Center Y</span>
        <input id="circle_cy" class="attr_changer" title="Change circle's cy coordinate" size="3" data-attr="cy"/>
      </label>
      <label id="tool_circle_r">
        <span>Radius</span>
        <input id="circle_r" class="attr_changer" title="Change circle's radius" size="3" data-attr="r"/>
      </label>
    </div>

    <div id="ellipse_panel" class="context_panel clearfix">
      <h4>Ellipse</h4>
      <label id="tool_ellipse_cx">
        <input id="ellipse_cx" class="attr_changer" data-title="Change ellipse's cx coordinate" size="3" data-attr="cx" pattern="[0-9]*" />
        <span>X</span>
      </label>
      <label id="tool_ellipse_cy">
        <input id="ellipse_cy" class="attr_changer" data-title="Change ellipse's cy coordinate" size="3" data-attr="cy" pattern="[0-9]*" />
        <span>Y</span>
      </label>
      <label id="tool_ellipse_rx">
        <input id="ellipse_rx" class="attr_changer" data-title="Change ellipse's x radius" size="3" data-attr="rx" pattern="[0-9]*" />
        <span>Radius X</span>
      </label>
      <label id="tool_ellipse_ry">
        <input id="ellipse_ry" class="attr_changer" data-title="Change ellipse's y radius" size="3" data-attr="ry" pattern="[0-9]*" />
        <span>Radius Y</span>
      </label>
    </div>

    <div id="line_panel" class="context_panel clearfix">
      <h4>Line</h4>
      <label id="tool_line_x1">
        <input id="line_x1" class="attr_changer" data-title="Change line's starting x coordinate" size="3" data-attr="x1" pattern="[0-9]*" />
        <span>Start X</span>
      </label>
      <label id="tool_line_y1">
        <input id="line_y1" class="attr_changer" data-title="Change line's starting y coordinate" size="3" data-attr="y1" pattern="[0-9]*" />
        <span>Start Y</span>
      </label>
      <label id="tool_line_x2">
        <input id="line_x2" class="attr_changer" data-title="Change line's ending x coordinate" size="3" data-attr="x2"   pattern="[0-9]*" />
        <span>End X</span>
      </label>
      <label id="tool_line_y2">
        <input id="line_y2" class="attr_changer" data-title="Change line's ending y coordinate" size="3" data-attr="y2"   pattern="[0-9]*" />
        <span>End Y</span>
      </label>
    </div>

    <div id="text_panel" class="context_panel">
      <h4>Text</h4>
      <label>
        <input id="text_x" class="attr_changer" data-title="Change text x coordinate" size="3" data-attr="x" pattern="[0-9]*" />
        <span>X</span>
      </label>
      <label>
        <input id="text_y" class="attr_changer" data-title="Change text y coordinate" size="3" data-attr="y" pattern="[0-9]*" />
        <span>Y</span>
      </label>

      <div class="toolset draginput select twocol" id="tool_font_family">
        <!-- Font family -->
        <span>Font</span>
        <div id="preview_font" style="font-family: Helvetica, Arial, sans-serif;">Helvetica</div>
        <div class="caret"></div>
        <input id="font_family" data-title="Change Font Family" size="12" type="hidden" />
        <select id="font_family_dropdown">
        <% @fonts = Font.all.order(id: :asc) %>
        <% @fonts.each do |font| %>
          <option value="<%= font.name %>"><%= font.name %></option>
        <% end %>
        <%- if current_user.bonus? -%>
        <% @bonus_fonts = BonusFont.select(:id, :name, :font_face).all.order(id: :asc) %>
        <% @bonus_fonts.each do |font| %>
          <option value="<%= font.name %>"><%= font.name %></option>
        <% end %>
        <%- end -%>
          <!--<option value="Arial">Arial</option>-->
          <!--<option value="Arial Black">Arial Black</option>-->
          <!--<option value="Comic Sans">Comic Sans</option>-->
          <!--<option value="Georgia">Georgia</option>-->
          <!--<option value="Book Antiqua">Book Antiqua</option>-->
          <!--<option value="Times New Roman">Times New Roman</option>-->
          <!--<option value="Impact">Impact</option>-->
          <!--<option value="Lucida Grande">Lucida Grande</option>-->
          <!--<option value="Tahoma">Tahoma</option>-->
          <!--<option value="Trebuchet">Trebuchet</option>-->
          <!--<option value="Verdana">Verdana</option>-->
          <!--<option value="Courier New">Courier New</option>-->
          <!--<option value="Monaco">Monaco</option>-->
          <!--<option value="Shadows Into Light">Shadows Into Light</option>-->
          <!--<option value="Spicy Rice" selected="selected">Spicy Rice</option>-->
          <!--<option value="Playfair Display">Playfair Display</option>-->
          <!--<option value="Work Sans">Work Sans</option>-->
          <!--<option value="Alegreya">Alegreya</option>-->
          <!--<option value="Alegreya Sans">Alegreya Sans</option>-->
          <!--<option value="Fira Sans">Fira Sans</option>-->
          <!--<option value="Inconsolata">Inconsolata</option>-->
          <!--<option value="Source Sans Pro">Source Sans Pro</option>-->
          <!--<option value="Source Serif Pro">Source Serif Pro</option>-->
          <!--<option value="Kranky">Kranky</option>-->
          <!--<option value="Monoton">Monoton</option>-->
          <!--<option value="Alef">Alef</option>-->
          <!--<option value="Six Caps">Six Caps</option>-->
          <!--<option value="Puritan">Puritan</option>-->
          <!--<option value="Cutive">Cutive</option>-->
          <!--<option value="Fredericka the Great">Fredericka the Great</option>-->
          <!--<option value="Freckle Face">Freckle Face</option>-->
          <!--<option value="Cherry Cream Soda">Cherry Cream Soda</option>-->
          <!--<option value="VT323">VT323</option>-->
          <!--<option value="Julius Sans One'">Julius Sans One</option>-->
          <!--<option value="Homemade Apple">Homemade Apple</option>-->
          <!--<option value="Special Elite">Special Elite</option>-->
          <!--<option value="Black Ops One">Black Ops One</option>-->
          <!--<option value="Rock Salt">Rock Salt</option>-->
          <!--<option value="Alfa Slab One">Alfa Slab One</option>-->
          <!--<option value="Luckiest Guy">Luckiest Guy</option>-->
          <!--<option value="Mountains of Christmas">Mountains of Christmas</option>-->
          <!--<option value="Coming Soon">Coming Soon</option>-->
          <!--<option value="Cinzel">Cinzel</option>-->
          <!--<option value="Permanent Marker">Permanent Marker</option>-->
          <!--<option value="Passion One">Passion One</option>-->
          <!--<option value="Kaushan Script">Kaushan Script</option>-->
          <!--<option value="Gloria Hallelujah">Gloria Hallelujah</option>-->
          <!--<option value="Bangers">Bangers</option>-->
          <!--<option value="Source Code Pro">Source Code Pro</option>-->
          <!--<option value="Architects Daughter">Architects Daughter</option>-->
          <!--<option value="Dancing Script">Dancing Script</option>-->
          <!--<option value="Righteous">Righteous</option>-->
          <!--<option value="Sigmar One">Sigmar One</option>-->
          <!--<option value="Quicksand">Quicksand</option>-->
          <!--<option value="Orbitron">Orbitron</option>-->
          <!--<option value="Amatic SC">Amatic SC</option>-->
          <!--<option value="Pacifico">Pacifico</option>-->
          <!--&lt;!&ndash;<option value="Raleway">Raleway</option>&ndash;&gt;-->
          <!--<option value="Play">Play</option>-->
          <!--<option value="Anton">Anton</option>-->
          <!--<option value="Poiret One">Poiret One</option>-->
          <!--<option value="Roboto">Roboto</option>-->
          <!--<option value="Indie Flower">Indie Flower</option>-->
        </select>
        <div class="tool_button" id="tool_bold" data-title="Bold Text [B]">B</div>
        <div class="tool_button" id="tool_italic" data-title="Italic Text [I]">i</div>
      </div>

      <label id="tool_font_size" data-title="Change Font Size">
        <input id="font_size" size="3" value="0" />
        <span id="font_sizeLabel" class="icon_label">Font Size</span>
      </label>
      <!-- Not visible, but still used -->
      <input id="text" type="text" size="35"/>
    </div>

    <!-- formerly gsvg_panel -->
    <div id="container_panel" class="context_panel clearfix">
    </div>

    <div id="use_panel" class="context_panel clearfix">
      <div class="tool_button clearfix" id="tool_unlink_use" data-title="Break link to reference element (make unique)">Break link reference</div>
    </div>

    <div id="g_panel" class="context_panel clearfix">
      <h4>Group</h4>
      <label>
        <input id="g_x" class="attr_changer" data-title="Change groups's x coordinate" size="3" data-attr="x" pattern="[0-9]*" />
        <span>X</span>
      </label>
      <label>
        <input id="g_y" class="attr_changer" data-title="Change groups's y coordinate" size="3" data-attr="y" pattern="[0-9]*" />
        <span>Y</span>
      </label>
    </div>

    <div id="path_node_panel" class="context_panel clearfix">
      <h4>Edit Path</h4>

      <label id="tool_node_x">
        <input id="path_node_x" class="attr_changer" data-title="Change node's x coordinate" size="3" data-attr="x" />
        <span>X</span>
      </label>
      <label id="tool_node_y">
        <input id="path_node_y" class="attr_changer" data-title="Change node's y coordinate" size="3" data-attr="y" />
        <span>Y</span>
      </label>

      <div id="segment_type" class="draginput label">
        <span>Segment Type</span>
        <select id="seg_type" data-title="Change Segment type">
          <option id="straight_segments" selected="selected" value="4">Straight</option>
          <option id="curve_segments" value="6">Curve</option>
        </select>
        <div class="caret"></div>
        <label id="seg_type_label">Straight</label>
      </div>

      <!--
      <label class="draginput checkbox" data-title="Link Control Points">
        <span>Linked Control Points</span>
        <div class="push_bottom"><input type="checkbox" id="tool_node_link" checked="checked" /></div>
      </label>
    -->

      <div class="clearfix"></div>
      <div class="tool_button" id="tool_node_clone" title="Adds a node">Add Node</div>
      <div class="tool_button" id="tool_node_delete" title="Delete Node">Delete Node</div>
      <div class="tool_button" id="tool_openclose_path" title="Open/close sub-path">Open Path</div>
      <!--<div class="tool_button" id="tool_add_subpath" title="Add sub-path"></div>-->
    </div>

    <!-- Buttons when a single element is selected -->
    <div id="selected_panel" class="context_panel">

      <label id="tool_angle" data-title="Change rotation angle" class="draginput">
        <input id="angle" class="attr_changer" size="2" value="0" data-attr="transform" data-min="-180" data-max="180" type="text"/>
        <span class="icon_label">Rotation</span>
        <div id="tool_angle_indicator">
          <div id="tool_angle_indicator_cursor"></div>
        </div>
      </label>

      <label class="toolset" id="tool_opacity" data-title="Change selected item opacity">
        <input id="group_opacity" class="attr_changer" data-attr="opacity" data-multiplier="0.01" size="3" value="100" step="5" min="0" max="100" />
        <span id="group_opacityLabel" class="icon_label">Opacity</span>
      </label>

      <div class="toolset" id="tool_blur" data-title="Change gaussian blur value">
        <label>
          <input id="blur" size="2" value="0" step=".1"  min="0" max="10" />
          <span class="icon_label">Blur</span>
        </label>
      </div>

      <label id="cornerRadiusLabel" data-title="Change Rectangle Corner Radius">
        <input id="rect_rx" size="3" value="0" data-attr="rx" class="attr_changer" type="text" pattern="[0-9]*" />
        <span class="icon_label">Roundness</span>
      </label>

      <div class="clearfix"></div>
      <div id="align_tools">
        <h4>Align</h4>
        <div class="toolset align_buttons" id="tool_position">
          <label>
            <div class="col last clear" id="position_opts">
              <div class="draginput_cell" id="tool_posleft" title="Align Left"></div>
              <div class="draginput_cell" id="tool_poscenter" title="Align Center"></div>
              <div class="draginput_cell" id="tool_posright" title="Align Right"></div>
              <div class="draginput_cell" id="tool_postop" title="Align Top"></div>
              <div class="draginput_cell" id="tool_posmiddle" title="Align Middle"></div>
              <div class="draginput_cell" id="tool_posbottom" title="Align Bottom"></div>
            </div>
          </label>
        </div>
      </div>
    </div>

    <!-- Buttons when multiple elements are selected -->
    <div id="multiselected_panel" class="context_panel clearfix">
      <h4 class="hidable">Multiple Elements</h4>

      <div class="toolset align_buttons" style="position: relative">
        <label id="tool_align_relative" style="margin-top: 10px;">
          <select id="align_relative_to" title="Align relative to ...">
            <option id="selected_objects" value="selected">Align to objects</option>
            <option id="page" value="page">Align to page</option>
          </select>
        </label>
        <h4>.</h4>
        <div class="col last clear">
          <div class="draginput_cell" id="tool_alignleft" title="Align Left"></div>
          <div class="draginput_cell" id="tool_aligncenter" title="Align Center"></div>
          <div class="draginput_cell" id="tool_alignright" title="Align Right"></div>
          <div class="draginput_cell" id="tool_aligntop" title="Align Top"></div>
          <div class="draginput_cell" id="tool_alignmiddle" title="Align Middle"></div>
          <div class="draginput_cell" id="tool_alignbottom" title="Align Bottom"></div>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>

    <div id="stroke_panel" class="context_panel clearfix">
      <!--<div class="clearfix"></div>-->
      <h4>Stroke</h4>
      <div class="toolset" data-title="Change stroke">
        <label>
          <input id="stroke_width" size="2" value="5" data-attr="stroke-width" min="0" max="99" step="1" />
          <span class="icon_label">Stroke Width</span>
        </label>
      </div>
      <div class="stroke_tool draginput">
        <span>Stroke Dash</span>
        <select id="stroke_style" data-title="Change stroke dash style">
          <option selected="selected" value="none">—</option>
          <option value="2,2">···</option>
          <option value="5,5">- -</option>
          <option value="5,2,2,2">-·-</option>
          <option value="5,2,2,2,2,2">-··-</option>
        </select>
        <div class="caret"></div>
        <label id="stroke_style_label">—</label>
      </div>

      <label style="display: none;">
        <span class="icon_label">Stroke Join</span>
      </label>

      <label  style="display: none;">
        <span class="icon_label">Stroke Cap</span>
      </label>
    </div>

  </div> <!-- tools_top -->
  <div id="cur_context_panel">

  </div>


  <div id="tools_left" class="tools_panel">
    <div class="tool_button" id="tool_select" title="Select Tool [V]"></div>
    <div class="tool_button" id="tool_fhpath" title="Pencil Tool [P]"></div>
    <div class="tool_button" id="tool_line" title="Line Tool [L]"></div>
    <div class="tool_button" id="tool_rect" title="Square/Rect Tool [R]"></div>
    <div class="tool_button" id="tool_ellipse" title="Ellipse/Circle Tool [C]"></div>
    <div class="tool_button" id="tool_path" title="Path Tool [P]"></div>
    <div class="tool_button" id="tool_text" title="Text Tool [T]"></div>
    <div class="tool_button" id="tool_zoom" title="Zoom Tool [Z]"></div>

    <div class="tool_button" id="tool_flood" title="Flood Fill Tool [F]" style="background: none;">
      <%= image_tag "floodfill_icon.png", id:"flood_fill", size:"27", style:"z-index: 1; position: absolute;" %>
      <svg viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg" width="27" height="27" xmlns:xlink="http://www.w3.org/1999/xlink">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 27 27" style="background-color:#ffffff00" version="1.1" xml:space="preserve" x="0px" y="0px">
  	      <path id="indicator" d="M 1 1 L 1 26 L 26 26 L 26 1 L 1 1 Z" fill="#2F2F2C"></path>
        </svg>
      </svg>
    </div>

    <div id="color_tools">
      <div id="tool_switch" title="Switch stroke and fill colors [X]"></div>
      <div class="color_tool active" id="tool_fill">
        <label class="icon_label" title="Change fill color"></label>
        <div class="color_block">
          <div id="fill_bg"></div>
          <div id="fill_color" class="color_block"></div>
        </div>
      </div>

      <div class="color_tool" id="tool_stroke">
        <label class="icon_label" title="Change stroke color"></label>
        <div class="color_block">
          <div id="stroke_bg"></div>
          <div id="stroke_color" class="color_block" title="Change stroke color"></div>
        </div>
      </div>
    </div>
  </div> <!-- tools_left -->

  <div id="tools_bottom" class="tools_panel">

    <!-- Zoom buttons -->
    <div id="zoom_panel" class="toolset" title="Change zoom level">
      <div class="draginput select" id="zoom_label">
        <span  id="zoomLabel" class="zoom_tool icon_label"></span>
        <select id="zoom_select">
          <option value="6">6%</option>
          <option value="12">12%</option>
          <option value="16">16%</option>
          <option value="25">25%</option>
          <option value="50">50%</option>
          <option value="75">75%</option>
          <option value="100"  selected="selected">100%</option>
          <option value="150">150%</option>
          <option value="200">200%</option>
          <option value="300">300%</option>
          <option value="400">400%</option>
          <option value="600">600%</option>
          <option value="800">800%</option>
          <option value="1600">1600%</option>
        </select>
        <div class="caret"></div>
        <input id="zoom" size="3" value="100%" type="text" readonly="readonly" />
      </div>
    </div>

    <div id="tools_bottom_3">
      <div id="palette" title="Click to change fill color, shift-click to change stroke color"></div>
    </div>


    <div id="full_buttons">
      <div class="fullbut">
        <button type="button" class="btn btn-primary edit-svg" id="save-button"><i class="fa fa-floppy-o"></i> Save</button>
      </div>
      <div class="fullbut">
        <button id="full" class="btn">⤡</button>
      </div>
    </div>
  </div>
  <!-- hidden divs -->
  <div id="color_picker"></div>

</div> <!-- svg_editor -->

<div id="svg_source_editor">
  <div id="svg_source_overlay"></div>
  <div id="svg_source_container">
    <div id="save_output_btns">
      <p id="copy_save_note">Copy the contents of this box into a text editor, then save the file with a .svg extension.</p>
      <button id="copy_save_done">Done</button>
    </div>
    <form>
      <textarea id="svg_source_textarea" spellcheck="false"></textarea>
    </form>
    <div id="tool_source_back" class="toolbar_button">
      <button id="tool_source_cancel" class="cancel">Cancel</button>
      <button id="tool_source_save" class="ok">Apply Changes</button>
    </div>
  </div>
</div>

<div id="base_unit_container">
  <select id="base_unit">
    <option value="px">Pixels</option>
    <option value="cm">Centimeters</option>
    <option value="mm">Millimeters</option>
    <option value="in">Inches</option>
    <option value="pt">Points</option>
    <option value="pc">Picas</option>
    <option value="em">Ems</option>
    <option value="ex">Exs</option>
  </select>
</div>

<div id="dialog_box">
  <div id="dialog_box_overlay"></div>
  <div id="dialog_container">
    <div id="dialog_content"></div>
    <div id="dialog_buttons"></div>
  </div>
</div>

<ul id="cmenu_canvas" class="contextMenu">
  <li><a href="#cut">Cut <span class="shortcut">⌘X;</span></a></li>
  <li><a href="#copy">Copy<span class="shortcut">⌘C</span></a></li>
  <li><a href="#paste">Paste<span class="shortcut">⌘V</span></a></li>
  <li><a class='duplicate-item' href="#tool_clone">Duplicate<span class="shortcut">⌘D</span></a></li>
  <li class="separator"><a href="#delete">Delete<span class="shortcut">⌫</span></a></li>

  <li class="separator"><a href="#group">Group<span class="shortcut">⌘G</span></a></li>
  <li><a href="#ungroup">Ungroup<span class="shortcut">⌘⇧G</span></a></li>

  <li class="separator"><a href="#move_front">Bring to Front<span class="shortcut">⌘⇧↑</span></a></li>
  <li><a href="#move_up">Bring Forward<span class="shortcut">⌘↑</span></a></li>
  <li><a href="#move_down">Send Backward<span class="shortcut">⌘↓</span></a></li>
  <li><a href="#move_back">Send to Back<span class="shortcut">⌘⇧↓</span></a></li>
</ul>
<!--<canvas id="color_dropper_canvas" style="display: block; z-index: 99; position: absolute; top: 1px; right: 1px;"></canvas>-->

<script type="text/javascript" src="/logo/jgraduate/editor/lib/jgraduate/jquery.jgraduate.js"></script>    
</body>
</html>
