<div class="row">
  <div class="col-md-9">
    <div>
      <% if params[:sy] || params[:la] || params[:pl] %>
          <%- #Save and back buttons.   -%>
          <div class="btn-group pull-right" role="group" aria-label="Back or Save?">
            <button class="btn btn-primary return-to-layouts-btn" type="button" data-user-logo-id="<%= params[:user_logo_id] %>">
              <i class="fa fa-angle-double-left" data-user-logo-id="<%= params[:user_logo_id] %>"></i>&nbsp;Back
            </button>
            <button class="btn btn-primary edit-svg"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
            <button class="btn btn-primary exit-edit-svg"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Return to My
              Logos
            </button>
          </div>

          <%- #Logo creation - step navigation  -%>
          <ul class="nav nav-pills" role="tablist" id="editor_new_logo_nav">
            <%- # Using inline style rules to override tab defaults.  -%>
            <li role="presentation" class="first-step" style="text-align: center;">
              <a href="javascript:void(0);" class="first-step return-to-layouts-btn tab-completed" data-user-logo-id="<%= params[:user_logo_id] %>"><span style="font-size: 1.5em;">Step 1</span><br/><i class="fa fa-picture-o"></i>&nbsp;
                <small>Choose A Symbol</small>
              </a></li>
            <li role="presentation" class="new-logo-layouts-tab" style="text-align: center;">
              <a href="javascript:void(0);" class="new-logo-layouts-tab return-to-layouts-btn tab-completed" data-user-logo-id="<%= params[:user_logo_id] %>"><span style="font-size: 1.5em;">Step 2</span><br/><i class="fa fa-arrows"></i>&nbsp;
                <small>Layout</small>
              </a></li>
            <li role="presentation" class="disabled new-logo-editor-tab" style="text-align: center;">
              <a href="#" data-toggle="" class="new-logo-editor-tab"><span style="font-size: 1.5em;">Step 3</span><br/><i class="fa fa-pencil-square-o"></i>&nbsp;
                <small>Edit</small>
              </a></li>
          </ul>
      <% else %>
          <div class="btn-group pull-right" role="group" aria-label="Back or Save?">
            <button class="btn btn-primary edit-svg"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
            <button class="btn btn-primary exit-edit-svg"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Return to My
              Logos
            </button>
          </div>
      <% end %>

    </div>
    <iframe src="/logo/editor" allowfullscreen frameborder="0" style="width: 100%; height: 700px;" id="logo_editor" class="logo_editor" data-user-logo-id="<%= @svg[:id] %>"></iframe>
  </div>
  <div class="col-md-3">
    <%= render "editor_layers_fonts" %>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="please_wait_title">Loading symbols...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="noSaveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Save this logo?</h4>
      </div>
      <div class="modal-body">
        <h2>Warning!</h2>
        <p>You have not saved this logo.</p>
        <p>If you choose to exit without saving, all changes will be lost.</p>
        <p>Do you wish to exit without saving?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;Cancel
        </button>
        <button type="button" class="btn btn-primary" id="save_logo_and_exit"><span class="fa fa-floppy-o"></span>&nbsp;Save
          and Exit
        </button>
        <button type="button" class="btn btn-warning" id="exit_without_saving">
          <span class="fa fa-arrow-circle-o-left"></span>&nbsp;Exit Without Saving
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End modals -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.0/screenfull.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(function () {
    Pixxly.Logos.current.initial_save = false;

    <% unless @svg.blank? %>
    $("#logo_editor").load(function () {
      var svgEdit = svgEdit || window.frames[0];
      <% if @svg.class == Hash %>
      var svg = '<?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink" width="400px" height="400px" viewBox="0 0 400 400"><image x="0" y="0" width="400px" height="400px" xlink:href="<%= @svg[:image] %>"></image></svg>';
      svgEdit.svgCanvas.setSvgString(svg);

//      var editor = $('#logo_editor').contents();
//      var image = editor.find('#svg_1');
//      image.attr('transform', newSize(image.get(0)));
//      editor.find('#selectorParentGroup').attr('transform', newSize(image.get(0)));
//      canvasSize(editor);

      <% else %>
      <% svg = @svg[:svg].gsub("'", "").squish %>
      svgEdit.svgCanvas.setSvgString(Pixxly.setColorsForNodesInGroup('<%= raw(svg) %>'));
//      var editor = $('#logo_editor').contents();
//      var mainG = $('#logo_editor').contents().find('#svgcanvas g[style="pointer-events:all"]');

//      ocaEditor(newSize(mainG.get(0)));
//      canvasSize(editor);
      <% end %>
      // window.startLogoAutoSaving();

      dblclickCounter = 0;
      $('#logo_editor').contents().find('#stroke_width').on('mousedown', function () {
        dblclickCounter++;
        setTimeout(function () {
          dblclickCounter = 0
        }, 300);
        if (dblclickCounter == 2) {
          $(this).removeAttr("readonly");
        }
      })

    });
    <% end %>
    setTimeout(function () {
      clearHistoryEditor(window.frames[0])
    }, 1000);
  });

  $('iframe').load(function () {
    var iframe = $($("iframe").get(0).contentDocument);
    $("#save-button", iframe).attr('class', 'btn edit-svg');
    // fullButt();
    LayerManager.init();
    initSvgeditDuplicate();
    $(this).focus();
  });

</script>