<div class="row">
  <div class="col-md-12">
      <h2 class="page-title">My Logos</h2>
  </div>
</div>

<% if @user_logos.count < 1 %>
    <div style="text-align: center;">
      <h2>You haven't created any logos yet.</h2>
    </div>
<% else %>
    <% if browser.safari? %>
<div class='my-logo' id="my_logo" style="display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <% else %>
<div class='my-logo' id="my_logo" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-flow: wrap;">
    <% end %>
<% @user_logos.each do |logo| %>
      <% shared = false %>
      <% if SharedLogo.where(user_logo_id: logo.id).count > 0 %>
      <% shared = true %>
      <% end %>
    <div class="panel panel-default" id="logo_panel_<%= logo.id %>" style="width: 360px; margin: 6px 6px 6px 6px;">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left"><%#= logo.label %></h3>
        <div class="btn-group pull-right" role="group">
          <a class="btn btn-default" href="/edit/<%= logo.id %>">
            <i class="fa fa-check"></i>
            Edit
          </a>
          <a class="btn btn-default share-logo-btn" href="#" data-id="<%= logo.id %>" data-status=<%= shared %>>
            <% if shared === false %>
            <i class="fa fa-share-alt"></i>
            Share
            <% else %>
            <i class="fa fa-share-alt"></i>
            Unshare
            <% end %>
          </a>
          <button type="button" class="btn btn-default copy-logo-btn" data-id="<%= logo.id %>">
            <i class="fa fa-clone"></i>
            Copy
          </button>
          <a class="btn btn-default delete-logo-btn" href="#" data-id="<%= logo.id %>">
            <i class="fa fa-trash"></i>
            Delete
          </a>
        </div>
      </div>

      <% ############################################ %>
      <% ## Edit the SVG to match our requirements ## %>
      <% ############################################ %>
      <% svg_xml = Nokogiri::XML.parse(logo.svg.to_s) %>
      <% svg = logo.svg.to_s %>

      <% #unless svg_xml.at_xpath("//xmlns:svg/@viewBox") %>
          <% svg.gsub!('xmlns="http://www.w3.org/2000/svg"', 'xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" class="svgElement"') %>
          <%# svg.gsub!('xmlns="http://www.w3.org/2000/svg"', 'xmlns="http://www.w3.org/2000/svg" viewBox="0 0 410 345"') %>
      <% #end %>

      <% ############################################ %>
      <% ## End editing SVG.                       ## %>
      <% ############################################ %>
      <div class="panel-body" style="height: 429px; display: flex; justify-content: center; background-color: white;" data-id="<%= logo.id %>" data-dimensions="<%= %>">
        <%= raw(svg) %>
        </div>
      <div class="panel-footer">
        <div class="btn-group btn-container" role="group" aria-label="">
          <a href="#" class="btn btn-default conversion_btn" data-id="<%= logo.id %>" data-file-type="png" data-toggle="modal" data-target="#logoDownloadSizeModal">PNG</a>
          <a href="#" class="btn btn-default conversion_btn" data-id="<%= logo.id %>" data-file-type="jpg" data-toggle="modal" data-target="#logoDownloadSizeModal">JPG</a>
          <a href="#" class="btn btn-default conversion_btn" data-id="<%= logo.id %>" data-file-type="gif" data-toggle="modal" data-target="#logoDownloadSizeModal">GIF</a>
          <a target="_BLANK" download href="/user/logo/<%= logo.id %>/as/file.svg" class="btn btn-default conversion_btn" data-id="<%= logo.id %>">SVG</a>
        </div>
        <div class="btn-group btn-container" role="group" aria-label="" style="margin-top: 10px;">
          <a href="#" class="btn btn-default conversion_btn" data-id="<%= logo.id %>" data-file-type="psd" data-toggle="modal" data-target="#logoDownloadSizeModal">PSD</a>
          <a href="#" class="btn btn-default conversion_btn" data-id="<%= logo.id %>" data-file-type="tiff" data-toggle="modal" data-target="#logoDownloadSizeModal">TIFF</a>
          <a href="#" class="btn btn-default conversion_btn" data-id="<%= logo.id %>" data-file-type="wmf" data-toggle="modal" data-target="#logoDownloadSizeModal">WMF</a>
          <!--<a href="/export/raster/wmf/<%#= logo.id %>" class="btn btn-default conversion_btn" data-id="<%#= logo.id %>" data-file-type="wmf">WMF</a>-->
        </div>
      </div>
    </div>
<% end %>
</div>
<div style="width: 100%; text-align: center;"><%= paginate @user_logos, :theme => 'twitter-bootstrap-3' %></div>

<!-- Modals. -->
<!-- Confirm logo deletion -->
<div class="modal fade" id="deleteLogoModal" tabindex="-1" role="dialog" aria-labelledby="deleteLogoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteLogoLabel">Delete this logo</h4>
      </div>
      <div class="modal-body">
        <h3>Warning!</h3>
        <p>Deleting a logo cannot be undone.</p>
        <p>Do you wish to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="#" class="btn btn-primary" id="delete_logo_confirmation" data-logo-id=""><i class="fa fa-trash"></i>&nbsp;Delete Logo</a>
      </div>
    </div>
  </div>
</div>
<!-- End logo deletion -->

<!-- Choose logo size -->
<div class="modal fade" id="logoDownloadSizeModal" tabindex="-1" role="dialog" aria-labelledby="logoDownloadSizeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="logoDownloadSizeLabel">What size logo do you want to download?</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info download-alert-info" role="alert" style="display:none;">Your logo file is being generated, and will begin downloading soon.<p></p>It may take a little while, but you can close this the dialog box at any time.</div>
        <table>
          <tr>
            <td><a href="" data-size="cu" id="custom_logo_size_btn" class="download-link btn btn-warning" style="width: 120px; margin: 5px 10px 5px 5px;">Custom</a></td>
            <td><div class="form-inline">
              <div class="form-group">
                The long side will be <input type="number" class="form-control" id="logo_long_side" style="width: 90px;" value="320" />px.
              </div>
            </div></td>
          </tr>
          <tr>
            <td><a href="" data-size="og" class="download-link btn btn-success" style="width: 120px; margin: 5px 10px 5px 5px;">Original</a></td>
            <td>The image will be downloaded as its original size.</td>
          </tr>
          <tr>
            <td><a href="" data-size="sm" class="download-link btn btn-default" style="width: 120px; margin: 5px 10px 5px 5px;">Small</a></td>
            <td>The long side will be 350px.</td>
          </tr>
          <tr>
            <td><a href="" data-size="md" class="download-link btn btn-primary" style="width: 120px; margin: 5px 10px 5px 5px;">Medium</a></td>
            <td>The long side will be 800px.</td>
          </tr>
          <tr>
            <td><a href="" data-size="lg" class="download-link btn btn-info" style="width: 120px; margin: 5px 10px 5px 5px;">Large</a></td>
            <td>The long side will be 2000px.</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End choose logo size. -->
<!-- End modals. -->
<% end %>
<iframe src="/logo/editor" allowfullscreen frameborder="0" style="width: 100%; height: 700px; display: none;" id="logo_editor" class="logo_editor" data-user-logo-id=""></iframe>