<div class="row">
  <div class="col-md-9">
    <div>
      <button class="btn btn-primary shared-edit-svg"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
    </div>
    <input type="hidden" name="current_logo_id" id="current_logo_id" value="0" />
    <iframe src="/logo/editor" allowfullscreen frameborder="0" style="width: 100%; height: 700px;" id="logo_editor" class="logo_editor" data-shared=true data-user-logo-id="<%= @svg[:id] %>"></iframe>
  </div>
  <div class="col-md-3">
    <%= render "editor_layers_fonts" %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    <% unless @svg.blank? %>
    <% svg = @svg.svg.gsub("'", "").squish %>
    $("#logo_editor").load(function(){
      var svgEdit = svgEdit = window.frames[0];
      svgEdit.svgCanvas.setSvgString('<%= raw(svg) %>');
      window.startLogoAutoSaving();
    });
    <% end %>
  });

  $('iframe').load(function() {
    var iframe = $($("iframe").get(0).contentDocument);
    fullButt();
    LayerManager.init();
    initSvgeditDuplicate();
  });

</script>
