<script src="//cdnjs.cloudflare.com/ajax/libs/tinycolor/0.11.1/tinycolor.min.js"></script>
<input type="hidden" name="current_logo_id" id="current_logo_id" value="" />
<div class="row">
  <h2 class="page-title">New Logo</h2>
  <ul class="nav nav-pills nav-stacked col-md-2 col-sm-2" role="tablist" id="new_logo_nav">
    <li role="presentation" class="active first-step" style="text-align: center;"><a href="#symbol_tab" data-toggle="tab" class="first-step"><span style="font-size: 1.5em;">Step 1</span><br/><i class="fa fa-picture-o"></i>&nbsp;<small>Choose A Symbol</small></a></li>
    <li role="presentation" class="disabled new-logo-layouts-tab" style="text-align: center;"><a href="#layout_tab" data-toggle="" class="new-logo-layouts-tab"><span style="font-size: 1.5em;">Step 2</span><br/><i class="fa fa-arrows"></i>&nbsp;<small>Layout</small></a></li>
    <li role="presentation" class="disabled new-logo-editor-tab" style="text-align: center;"><a href="#editor_tab" data-toggle="" class="new-logo-editor-tab"><span style="font-size: 1.5em;">Step 3</span><br/><i class="fa fa-pencil-square-o"></i>&nbsp;<small>Edit</small></a></li>
  </ul>
  <div class="tab-content col-md-10">
    <p id="clone_oca_link_p" style="background-color: lightgray; display: none; padding: 3px; color: firebrick; text-align: right;"><i class="fa fa-warning"></i>&nbsp;Is there something wrong with this logo? <button type="button" class="btn btn-primary" id="clone_oca_link">Embed the image instead</button></p>

    <div class="tab-pane active" id="symbol_tab">
      <div class="col-md-3 col-sm-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <button class="btn btn-primary open_clip_art_btn" style="width: 100%;" data-toggle="modal" data-target="#OpenClipArt_lib"><i class="fa fa-search"></i>&nbsp;Search OpenClipArt</button>
        <div style="text-align: center; color: black; font-weight: bolder;">
          OR
        </div>
        <div class="" style="width: 100%;">
          <div class="list-group" style="margin: 0; width: 100%;">
          <%# div class="list-group" style="margin: 0 -15px; width: 100%;" %>
            <% cat_id = @sym_cat_id || @categories.first.id %>
            <% @categories.each do |category| %>
                <button data-id="<%= category.id %>" class="logo-category-link list-group-item<% if category.id.to_i == cat_id.to_i %> active<% end %>" style="width: 100%; padding-left: 10px;"><%= category.icon.try(:html_safe) %><%= category.label %></button>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-sm-7">
      <div class="row" style="width: 100%; text-align: center;" id="symbol_tab">
        <button class="btn btn-primary logo-symbol-selected-btn" <% if @symbol_id.blank? %>disabled<% end %>>Continue&nbsp;<i class="fa fa-angle-double-right"></i></button>
      </div>
        <div class="row">
          <% pages = @active_category.logos.count % 28 ? @active_category.logos.count/28 + 1 : @active_category.logos.count/28 %>
          <% logo = @active_category.logos
             offset = 0 %>
          <% for p in 1..pages %>
              <% if p === 1 %>
                <% if browser.safari? %>
                <div style="display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box;" class="library-container" data-page="<%= p %>">
                <% else %>
                <div class="library-container" data-page="<%= p %>">
                <% end %>
                  <% offset > 0 || p < pages ? offset += 1 : offset # if this isn't the first iteration, adjust offset #. %>
                  <% for idx in offset..offset+27 %>
                      <% unless logo[idx].blank? # offset bumps the index, so we will come to a place where it is nil. %>
                        <a href="#" class="logo-symbol" data-id="<%= logo[idx].id %>"><div class="logo-symbol-border-div">
                        <%= image_tag "previews/prev_#{ logo[idx].id }.png", style: "max-height: 100px; max-width: 100px; height: auto; width: auto; display: block; margin: auto;" %></div></a>
                      <% end %>
                      <% offset = idx %>
                  <% end %>
                </div>
              <% end %>
          <% end %>
          <% offset = 0 %>
          <% for p in 1..pages %>
              <script type="text/template" class="logo-templates" id="page_<%= p %>">
                  <% if browser.safari? %>
                      <div style="display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box;" class="library-container" data-page="<%= p %>">
                  <% else %>
                      <div class="library-container" data-page="<%= p %>">
                  <% end %>
                  <% offset > 0 || p < pages ? offset += 1 : offset # if this isn't the first iteration, adjust offset #. %>
                  <% for idx in offset..offset+27 %>
                      <% unless logo[idx].blank? # offset bumps the index, so we will come to a place where it is nil. %>
                        <% # Get the current page in the pagination.
                          if @symbol_id.to_i === logo[idx].id.to_i
                             curr_page = p
                          end %>
                          <a href="#" class="logo-symbol" data-id="<%= logo[idx].id %>"><div class="logo-symbol-border-div">
                            <%= image_tag "previews/prev_#{ logo[idx].id }.png", style: "max-width: 100px; max-height: 100px; height: auto; width: auto; display: block; margin: auto;" %></div></a>
                      <% end %>
                      <% offset = idx %>
                  <% end %>
                </div>
              </script>
          <% end %>
        </div>
        <div style="text-align: center;"><button class="btn btn-primary logo-symbol-selected-btn" <% if @symbol_id.blank? %>disabled<% end %>>Continue&nbsp;<i class="fa fa-angle-double-right"></i></button></div>
        <div style="text-align: center;" class="logo-pager"></div>
        <script type="text/javascript">
          $('.logo-pager').twbsPagination({
            totalPages: <%= pages - 1 %>,
            visiblePages: 10,
            <% if curr_page %>
            startPage: <%= curr_page %>,
            <% end %>
            onPageClick: function (event, page) {
              $('.library-container').replaceWith( $("#page_" + page).html() );
            }
          });

          // Set the "initial_save" val to false.
          $(function(){
            Pixxly.Logos.current.initial_save = false;
          });

          <% if @oca_id %>
          $(function() {
            <% if @oca_query %>
            $.when($(".open_clip_art_btn").trigger("click")).then(function () {
              setTimeout(function () {
                $('input:text[name="query"]').val("<%= @oca_query %>");
                $('.open_clip_art_btn[title="Search tag"]').trigger("click");
                <% if @oca_page %>
                setTimeout(function(){
                  $.when( $('div.images-pagination > ul.pagination > li.page > a:contains("<%= @oca_page %>")').trigger("click") ).then( $("#oca_<%= @oca_id %>").trigger("click")).then( alert("G'aaaaah!") );
                }, 2000);
                <% end %>
              }, 400);
            })
            <% else %>
              $(".open_clip_art_btn").trigger("click");
            <% end %>
          });
          <% end %>

          <% # If we've got querystring params, maintain page state.  %>
          <% if curr_page %>
          $(function(){
            // Display the chosen page, if it's something other than the first.
            $('.library-container').replaceWith( $("#page_" + <%= curr_page %>).html() );
            <% # If we are using OCA, show it. %>

            <% # If we have a symbol ID, trigger a click on that symbol. %>
            <% if @symbol_id %>
              <% # If we have a tab ID, trigger a click on that tab button. %>
              <% if @tab_id.to_i === 2 %>
              var logo_click = setInterval(function() {
                // Add a counter to exit if it doesn't eventually load.
                if (typeof $('.logo-symbol[data-id="<%= @symbol_id %>"]').html() != "undefined") {
                  $('.logo-symbol[data-id="<%= @symbol_id %>"]').trigger("click");
                  if ( $("#layout_palette_symbol").html() != null && $("#layout_palette_symbol").html() != "") {
                    clearInterval(logo_click);

                    $('#symbol_tab > .logo-symbol-selected-btn').trigger("click");
                  }
                }
              }, 200);
          // });
              <% else %>
              $('.logo-symbol[data-id="<%= @symbol_id %>"]').trigger("click");
              <% end %>
            <% end %>
          });
          <% end %>
        </script>
      </div>
    </div>


    <div class="tab-pane fade" id="layout_tab">
      <div class="col-md-6" id="symbol_col">
        <div style="text-align: center;">
          <div class="btn-group" role="group" aria-label="Back or Continue?">
            <button class="btn btn-primary logo-chooser-btn"><i class="fa fa-angle-double-left"></i>&nbsp;Back</button>
            <button class="btn btn-primary logo-defined-btn">Continue&nbsp;<i class="fa fa-angle-double-right"></i></button>
          </div>
        </div>
        <% if browser.safari? %>
        <div style="display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 20px 0 20px 0;">
        <% else %>
        <div style="display: flex; align-content: center; justify-content: center; margin: 20px 0 20px 0;">
        <% end %>
        <!-- Background color options for preview. -->
        <div class="bg-container" style="display: block;">
          <p>bg</p>
          <div class="bg-color-change" style="background-color: white;" data-color="white"></div>
          <div class="bg-color-change active" style="background-color: #b4b4b4;" data-color="#b4b4b4"></div>
          <div class="bg-color-change" style="background-color: black;" data-color="black"></div>
        </div>
        <!-- End background color options. -->

        <!-- Foreground color options for preview. -->
        <div class="fg-container" style="height: 100%; position: relative; display: block;">
          <div style="bottom: 1px;">
            <p>fg</p>
            <div class="fg-color-change" style="background-color: white;" data-color="white"></div>
            <div class="fg-color-change" style="background-color: #b4b4b4;" data-color="#b4b4b4"></div>
            <div class="fg-color-change active" style="background-color: black;" data-color="black"></div>
          </div>
        </div>
        <!-- End Foreground color options. -->
          <div id="layout_palette_symbol" style="max-height: 400px; max-width: 400px;"></div>
          <div id="temp_div" style="display: none"></div>
          <!--<object data="" type="image/svg+xml" id="layout_palette_symbol" data-id=""></object>-->
        </div>
        <div class="symbol-color-choosers" style="display: none;"></div>
        <div class="symbol-colors" style="display: none;"></div>
        <div style="text-align: center;">
          <div class="btn-group" role="group" aria-label="Back or Continue?">
            <button class="btn btn-primary logo-chooser-btn"><i class="fa fa-angle-double-left"></i>&nbsp;Back</button>
            <button class="btn btn-primary logo-defined-btn">Continue&nbsp;<i class="fa fa-angle-double-right"></i></button>
          </div>
        </div>
      </div>
      <%# unless browser.ie? || browser.edge? %>
      <div class="col-md-3" id="layouts_col">
        <h3>Layouts</h3>
        <% @layouts.each do |layout| %>
            <div class="layout-option" data-id="<%= layout.id %>">
              <small><%= layout.label %></small>
              <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-flow: wrap; margin-top: 10px;">
                <%= image_tag "#{layout.image}.png", style: "width: 150px;" %>
              </div>
            </div>
        <% end %>
      </div>
      <%# end %>

      <div class="col-md-3" style="height: 850px; overflow-x: scroll; display: none;" id="palette_col">
        <h3>Palettes</h3>
        <% @palettes.each do |palette| %>
            <div class="palette-option" data-id="<%= palette.id %>">
              <small><%= palette.label %></small>
              <% if browser.safari? %>
              <div style="display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 10px;">
              <% else %>
              <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-flow: wrap; margin-top: 10px;">
              <% end %>
                <% palette.palette_colors.each do |color| %>
                    <div class="palette-color" style="background-color: <%= color.color %>;"></div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="modal fade" id="OpenClipArt_lib" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">OpenClipArt Library</h4>
          </div>
          <div class="modal-body">
            <p><span class="fa fa-info-circle"></span>&nbsp;<strong>Disclaimer:</strong>&nbsp;OpenClipArt has some great art available, but it is provided by volunteers. Occassionally an image will have errors and will not look the same as you see here.</p>
            <div class="input-group">
              <input autofocus="" type="text" value="" name="query" id="search-i" placeholder="What kind of logo are you looking for?" class="form-control">
                <span class="input-group-btn">
                <button class="btn btn-primary open_clip_art_btn" title="Search tag">search</button>
                </span>
            </div>

            <div class='images-title'></div>
            <div id="images">
            </div>
            <div class='images-pagination'></div>
          </div>
          <div class="modal-footer" style="height: 80px;">
            <div id="oca_img" style="display: inline-block; float: left;"></div>
            <button type="button" data-oca="true" class="btn btn-primary logo-symbol-selected-btn" data-dismiss="modal" style="display: inline-block;">Choose</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" style="display: inline-block;">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade hidden-iframe-on-crutch" id="editor_tab">
      <div class="row">
        <div class="col-md-9">
          <div class="btn-group" role="group" aria-label="Back or Save?">
            <button class="btn btn-primary return-to-chooser-btn"><i class="fa fa-angle-double-left"></i>&nbsp;Back</button>
            <button class="btn btn-primary save-svg"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
          </div>
          <br>
          <iframe src="/logo/editor" allowfullscreen frameborder="0" style="width: 100%; height: 850px;" id="logo_editor" class="logo_editor"></iframe>
        </div>
        <div class="col-md-3">
          <%= render "editor_layers_fonts" %>
        </div>
      </div>

      <!--<div id='layer_manager'>-->
        <!--<h4 style="color: #382121">Layers</h4>-->
        <!--<div class="list-group" style="min-width: 180px;">-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <script type="text/javascript" charset="utf-8">
      // Detect FireFox.
      if (typeof InstallTrigger !== 'undefined') {
        $("#logo_editor").contents().find('div.toolset[data-title="Change stroke"]').html('<select><option value="0.5">0.5</option><option value="1.0">1.0</option><option value="1.5">1.5</option><option value="2.0">2.0</option></select>');
      }

      $('iframe').load(function() {
        iframe = $($("iframe").get(0).contentDocument);
        $("#save-button", iframe).attr('class','btn save-svg');
        fullButt();
        // window.stopLogoAutoSaving();
        LayerManager.init();
        initSvgeditDuplicate();
      });
    </script>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="please_wait_title">Loading symbols...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modals -->
